* {
    background-color: #0E1428;
    color: white;
}

#main-title{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    
}

.info-home{
    font-style:italic ;
    color: blueviolet;
}

.Prestativo,.Comunicativo{
    font-size:25px ;

}
.Unix-Bash, .Git-GitHub, .HTML, .CSS, .JavaScript{
    font-size:20px;
}


    